asgiref
awsebcli
botocore
cement
certifi
charset-normalizer
colorama
Django
dj-database-url
django-crispy-forms
gunicorn
idna
jmespath
pathspec
Pillow
psycopg2

python-dateutil
python-decouple

PyYAML
requests
semantic-version
six
sqlparse
termcolor
typing_extensions
tzdata
urllib3
wcwidth
whitenoise
cloudinary
django-cloudinary-storage
wheel